html, body {
  background-image: url("https://images.unsplash.com/photo-1515879218367-8466d910aaa4?ixlib=rb-0.3.5&s=45f8c3eaac278c1c62ab0ec11c65cebf&auto=format&fit=crop&w=1050&q=80");
  background-size: cover;
  color: #f8f8f8;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: 100;
  height: 100vh;
  margin: 0; }

.full-height {
  height: 100vh; }

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center; }

.position-ref {
  position: relative; }

.top-right {
  position: absolute;
  right: 10px;
  top: 18px; }

.title {
  font-size: 84px; }

.links > a {
  color: #f8f8f8;
  padding: 0 25px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: .1rem;
  text-decoration: none;
  text-transform: uppercase; }

.content {
  text-align: center;
  background: rgba(5, 7, 5, 0.9);
  padding: 2rem; }
