{% block analytics %}
{% if not auth() and not request().app().make('Application').DEBUG %}

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-111126451-3"></script>
    
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-111126451-3');
</script>

{% endif %}
{% endblock %}