<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} | PythonPips</title>
    <meta name="description" content="{% block description %}PythonPips is the blog about Python Programming.{% endblock %}">
    <link rel="author" href="humans.txt" />
    <meta name="msvalidate.01" content="F526E122015D384ED0C7E2D826B09728" />
    <meta name="yandex-verification" content="d59544c1a672d6f8" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{% block og_title %}{% endblock%} - PythonPips" />
    <meta property="og:description" content="{% block og_description %}{% endblock%}" />
<!--     <meta property="og:url" content="https://csclub.co/" /> -->
    <meta property="og:site_name" content="PythonPips" />
    <meta property="article:publisher" content="https://www.facebook.com/pythonpips" />
    <meta property="article:author" content="http://facebook.com/vaibhavmule" />
    <meta property="og:image" content="{% block og_image %}{% endblock%}" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:description" content="{% block twitter_description %}{% endblock%}" />
    <meta name="twitter:title" content="{% block twitter_title %}{% endblock%} - PythonPips" />
    <meta name="twitter:site" content="@pythonpips" />
    <meta name="twitter:creator" content="@vaibhavmule" />
    <meta name="twitter:image" content="{% block twitter_image %}{% endblock%}" />
    <link rel="icon" type="image/png" href="/favicon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    {% include "layout/analytics.html" %}
    {% block head %}{% endblock %}
  </head>
  <body>
    <nav class="navbar is-transparent">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            PythonPips
            <!-- <img src="/csclub-logo.png" alt="CSClub Job Board"> -->
          </a>
          <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>

        <div id="navbarExampleTransparentExample" class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item" href="/snippets">
              Snippets
            </a>
            <a class="navbar-item" href="/blog">
              Blog
            </a>
            <a class="navbar-item" href="/contact">
              Contact
            </a>
          </div>

          {% if auth() %}
          <div class="navbar-end">
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">
                {{ auth().username }}
              </a>

              <div class="navbar-dropdown is-right">
                  <a class="navbar-item" href="/posts/new">
                    Write
                  </a>
                <a class="navbar-item" href="/posts">
                  My Articles
                </a>
                <hr class="navbar-divider">
                <a class="navbar-item" href="/logout">
                  Logout
                </a>
              </div>
            </div>
          </div>
          {% endif %}
        </div>
      </div>
    </nav>  
    {% block content %}
    {% endblock %}
  </body>
  <script type="text/javascript">
  document.addEventListener('DOMContentLoaded', () => {

  // Get all "navbar-burger" elements
  const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

  // Check if there are any navbar burgers
  if ($navbarBurgers.length > 0) {

    // Add a click event on each of them
    $navbarBurgers.forEach( el => {
      el.addEventListener('click', () => {

        // Get the target from the "data-target" attribute
        const target = el.dataset.target;
        const $target = document.getElementById(target);

        // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
        el.classList.toggle('is-active');
        $target.classList.toggle('is-active');

      });
    });
  }

});
  </script>
</html>
