<div class="box">
    <p class="title is-5">Subscribe to our newsletter</p>
    <!-- Begin MailChimp Signup Form -->
    <div id="mc_embed_signup">
      <form action="https://pythonpips.us19.list-manage.com/subscribe/post?u=af8ad7e1f1384ce9e1bb35853&amp;id=95a5b003df" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
      
    <div class="mc-field-group">
    <div class="field">
      <div class="control has-icons-left has-icons-right">
        <input class="input required email" type="email" placeholder="Email address" value="" name="EMAIL" id="mce-EMAIL">
        <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
        </span>
      </div>
    </div>
    </div>
      <div id="mce-responses" class="clear">
        <div class="response" id="mce-error-response" style="display:none"></div>
        <div class="response" id="mce-success-response" style="display:none"></div>
      </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_ca2165e2939a1f54044177ea9_962fb4fe8f" tabindex="-1" value=""></div>
        <br>
        <div class="clear control"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button is-link is-medium is-fullwidth"></div>
        </div>
    </form>
    </div>

    <!--End mc_embed_signup-->
  </div>