{% extends "layout/base.html" %}
{% block analytics %} {% endblock %}
{% block content %}

<section class="hero">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="columns is-centered">
        <div class="column is-half">
            <form action="/login" method="POST">
            {{ csrf_field }}
            <div class="field">
                <label class="label" for="">Email</label>
                <div class="control">
                    <input type="text" name="email" class="input">    
                </div>
            </div>

            <div class="field">
                <label class="label" for="">Password</label>
            <div class="control">
                <input type="password" name="password" class="input"> 
            </div>   
            </div>
            <br>
            <div class="field">
              <div class="control">
                <button class="button is-info is-bold is-medium is-fullwidth" type="submit">
                Login
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}