{% extends "layout/base.html" %}

{% block head %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
{% endblock %}
{% block analytics %}{% endblock %}
{% block content %}

<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
      	<form method="POST" action="/posts/{{post.id}}" >
        {{ csrf_field }}
        <div class="field">
            <div class="control">
                <input type="text" name="title" class="input" value="{{post.title}}" placeholder="Title">    
            </div>
        </div>
        <div class="field">
          <div class="control">
              <input type="text" name="slug" class="input" value="{{post.slug}}" placeholder="Slug">    
          </div>
        </div>
        <div class="field">
            <div class="control">
                <textarea class="textarea" placeholder="Text" name="body">{{post.body}}</textarea>  
            </div>
        </div>
        <div class="field">
          <div class="control">
              <input type="text" name="meta_title" class="input" value="{{post.meta_title}}" placeholder="meta title">    
          </div>
        </div>
        <div class="field">
          <div class="control">
              <input type="text" name="meta_description" class="input" value="{{post.meta_description}}" placeholder="meta description">    
          </div>
        </div>
        <div class="field">
          <div class="control">
              <input type="text" name="image" class="input" value="{{post.image}}" placeholder="image">    
          </div>
        </div>
        <div class="field">
          <div class="control">
              <input type="text" name="post_type" class="input" value="{{post.post_type}}" placeholder="post_type">    
          </div>
        </div>
        <div class="field">
          <div class="control">
              <input type="datetime-local" name="published_date" class="input" value="{{post.published_date.isoformat() if post.published_date else post.published_date}}" placeholder="published_date">
          </div>
        </div>
        <div class="field">
          <button type="submit" class="button is-info is-bold">Submit</button>
          <a href="/posts/{{post.id}}/delete" class="button is-primary" onclick="return confirm('Are you sure?')">Delete</a>
        </div>
      </form>
      </div>
    </div>
  </div>
</section>

<script>
  var simplemde = new SimpleMDE();
</script>
{% endblock %}}