{% extends "layout/base.html" %}
{% block analytics %}{% endblock %}
{% block content %}
<section class="hero is-info is-bold">
    <div class="hero-body">
      <div class="container">
        <div class="columns">
          <div class="column">
              <h1 class="title"> <a href="/posts">Articles</a> </h1>
              <p class="subtitle">
                Filters: 
                <a href="/posts/snippets">Snippets</a>
                |
                <a href="/posts/blog">Blog</a>
              </p>
          </div>
          <div class="column is-narrow is-2">
            {% if auth() %}
            <a class="button is-info is-bold is-medium is-inverted" href="/posts/new">
                New
            </a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column">
          {% if posts %}
          {% for post in posts %}
            <a href="/{{post.post_type}}/{{post.slug}}" class="">
              <div class="box">
                <p class="title is-4"> {{post.title}} <a href="/posts/{{post.id}}/edit" class="button is-primary is-small">Edit</a></p>
                <span class="tag is-info">{{post.post_type}}</span>
                {% if not post.published_date %}
                <span class="tag is-dark">Draft</span>
                {% endif %}
                <span class="tag is-secondary">{{post.published_date}}</span>
              </div>
            </a>
            <br>
          {% endfor %}
          {% else %}
          There is not any posts.
          {% endif %}
        </div>
      </div>
    </div>
  </section>  
{% endblock %}