{% extends "layout/base.html" %}

{% block head %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
{% endblock %}
{% block analytics %}{% endblock %}
{% block content %}
<section class="hero is-info is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Write a article
      </h1>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">     
      	<form method="POST" action="/posts" enctype="multipart/form-data">
        {{ csrf_field }}
        <div class="field">
            <div class="control">
                <input type="text" name="title" class="input" placeholder="Title">    
            </div>
        </div>
        <div class="field">
          <div class="control">
              <input type="text" name="slug" class="input" placeholder="Slug">    
          </div>
        </div>
        <div class="field">
          <div class="control">
              <input type="file" name="image">    
          </div>
        </div>
        <div class="field">
            <div class="control">
                <textarea class="textarea" placeholder="Text" name="body"></textarea>  
            </div>
        </div>
        <div class="field">
            <div class="control">
                <input type="text" name="post_type" class="input" placeholder="post type">    
            </div>
        </div>
        <div class="field">
          <button type="submit" class="button is-info is-bold">Submit</button>
        </div>
    	</form>
      </div>
    </div>
  </div>
</section>
<script>
  var simplemde = new SimpleMDE();
  </script>
{% endblock %}