{% extends "layout/base.html" %}

{% block title %}{{post_type.capitalize()}}{% endblock %}
{% block description %}{{post_type_subtitle}}{% endblock %}

{% block content %}
<section class="hero is-info is-bold">
    <div class="hero-body">
      <div class="container">
        <div class="columns">
          <div class="column">
            {% if post_type and post_type_subtitle %}
              <h1 class="title">{{post_type.capitalize()}}</h1>
              <p class="subtitle">{{post_type_subtitle}}</p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column">
          {% if posts %}
          {% for post in posts %}
            <a href="/{{post.post_type}}/{{post.slug}}" class="">
              <div class="box">
                <p class="title is-4"> {{post.title}}</p>
              </div>
            </a>
            <br>
          {% endfor %}
          <nav class="pagination is-rounded" role="navigation" aria-label="pagination">
            {% if posts.previous_page %}
            <a class="pagination-previous" href="/snippets?page={{posts.previous_page}}" rel="prev">Previous</a>
            {% else %}
            <a class="pagination-previous" title="This is the first page" disabled>Previous</a>
            {% endif %}
            {% if posts.next_page %}
            <a class="pagination-next" href="/snippets?page={{posts.next_page}}" rel="next">Next page</a>
            {% else %}
            <a class="pagination-previous" title="This is the last page" disabled>Next</a>
            {% endif %}
            <ul class="pagination-list">
              {% if posts.current_page >= 3 %}
                <li><a class="pagination-link" aria-label="Goto page 1" href="/snippets?page=1">1</a></li>
              {% endif %}
              {% if posts.current_page >= 4 %}
                <li><span class="pagination-ellipsis">&hellip;</span></li>
              {% endif %}
              {% for num in range((1, posts.current_page - 1)|max, (posts.current_page + 2, posts.last_page + 1)|min)%}
                {% if num == posts.current_page  %}
                  <li>
                    <a class="pagination-link is-current" aria-label="Goto page {{num}}" href="/snippets?page={{num}}" aria-current="page">{{num}}</a>
                  </li>
                {% else %}
                  <li>
                    <a class="pagination-link" aria-label="Goto page {{num}}" href="/snippets?page={{num}}">{{num}}</a>
                  </li>
                {% endif %}
              {% endfor %}
              {% if posts.current_page < posts.last_page - 2 and posts.current_page <= posts.last_page - 3%}
                <li><span class="pagination-ellipsis">&hellip;</span></li>
              {% endif %}
              {% if posts.current_page <= posts.last_page - 2 %}
                <li><a class="pagination-link" aria-label="Goto page {{posts.last_page}}" href="/snippets?page={{posts.last_page}}">{{posts.last_page}}</a></li>
              {% endif %}
            </ul>
          </nav>
          {% else %}
          There is not any posts.
          {% endif %}
        </div>
        <div class="column is-4">
          {% include "layout/sidebar.html" %}
        </div>
      </div>
    </div>
  </section>
{% endblock %}