{% extends "layout/base.html" %}

{% block title %}{{post.meta_title}}{% endblock %}
{% block description %}{{post.meta_description}}{% endblock %}

{% block og_title %}{{post.meta_title}}{% endblock%}
{% block og_description %}{{post.meta_description}}{% endblock%}
{% block og_image %}{{post.image}}{% endblock%}

{% block twitter_title %}{{post.meta_title}}{% endblock%}
{% block twitter_description %}{{post.meta_description}}{% endblock%}
{% block twitter_image %}{{post.image}}{% endblock%}

{% block head %}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/default.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/highlight.min.js"></script>
{% endblock %}

{% block content %}
<section class="hero is-info is-bold">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column">
          <h1 class="title">
            <a href="/{{post.post_type}}/{{post.slug}}">{{post.title}}</a>
          </h1>
          <p class="subtitle">
            by <a href="https://vaibhavmule.com">{{post.author.name}}</a>
          </p>
        </div>
        <div class="column is-narrow is-2">
            {% if auth() %}
            <a class="button is-info is-bold is-medium is-inverted" href="/posts/{{post.id}}/edit">
                Edit
            </a>
            {% endif %}
          </div>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="content">
          {{post.body|safe}}
        </div>
        <figure class="image" style="max-width: 480px;">
          <img src="{{post.image}}" alt="{{post.title}}"">
        </figure>
        <br>
        {% include "layout/sidebar.html" %}

        <div id="disqus_thread"></div>
        <script>
        
        var disqus_config = function () {
        this.page.url = 'http://pythonpips.com/{{post.post_type}}/{{post.slug}}';  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = '{{post.id}}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        };
        (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://pythonpips.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                                    
      </div>
    </div>
  </div>
</section>
<script type="application/ld+json">

</script>
<script>hljs.initHighlightingOnLoad();</script>
{% endblock %}