{% extends "layout/base.html" %}

{% block title %}About{% endblock %}
{% block description %}About Us{% endblock %}

{% block content %}
<section class="hero is-info is-bold">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column">
          <h1 class="title">
            <a href="/contact">About PythonPips</a>
          </h1>
          <p class="subtitle">
            <!-- Give us feedback or contact us for anything else. -->
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="content">
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
