{% extends "layout/base.html" %}

{% block title %}Contact{% endblock %}
{% block description %}Give us feedback or contact us for anything else.{% endblock %}

{% block content %}
<section class="hero is-info is-bold">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column">
          <h1 class="title">
            <a href="/contact">Contact PythonPips</a>
          </h1>
          <p class="subtitle">
            Give us feedback or contact us for anything else.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="content">
          <p>Click on following links to know more.</p>
          <ul>
            <li><a href="/about">About (Page does not exist yet)</a></li>
            <li><a href="/privacy">Privacy</a></li>
          </ul>
          <a class="button is-info is-bold is-medium is-fullwidth" href="https://m.me/pythonpips">
            Send us message
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
