{% extends "layout/base.html" %}

{% block title %}PythonPips is Python Programming Blog{% endblock %}

{% block content %}
<section class="hero is-info is-bold">
    <div class="hero-body">
      <div class="container">
        <div class="columns">
          <div class="column">
            <h1 class="title">PythonPips</h1>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column">
            <h2 class="title"> <a href="/snippets" >Snippets</a></h2>
            {% if snippets %}
              {% for snippet in snippets %}
                  <a href="/snippets/{{snippet.slug}}" class="">
                  <div class="box">
                      <p class="title is-4"> {{snippet.title}}</p>
                  </div>
                  </a>
                  <br>
              {% endfor %}
              <a href="/snippets" class="button is-link">View More Snippets</a>
            {% else %}
              <br/>
              There is not any snippets.
            {% endif %}
        </div>
        {% if posts %}
        <div class="column">
          <h2 class="title"> <a href="/blog" >Blog</a></h2>
          {% for post in posts %}
              <a href="/blog/{{post.slug}}" class="">
              <div class="box">
                  <p class="title is-4"> {{post.title}}</p>
              </div>
              </a>
              <br>
          {% endfor %}
          <a href="/blog" class="button is-link">View More Blog Posts</a>
        </div>
        {% endif %}
        <div class="column is-4">
          {% include "layout/sidebar.html" %}
        </div>
    </div>
    </div>
  </section>
{% endblock %}