<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0">
  <channel>
    <title>PythonPips</title>
    <description>PythonPips is the blog about Python Programming.</description>
    <link>https://pythonpips.com</link>
    {% for post in posts %}
      <item>
        <title>
          <![CDATA[{{ post.title }}]]>
        </title>
        <link>https://pythonpips.com/{{post.post_type}}/{{post.slug}}</link>
        <description>
          <![CDATA[{{ post.body|safe }}]]>
        </description>
        <pubDate>{{post.published_date}}</pubDate>
        <guid isPermaLink="true">https://pythonpips.com/{{post.post_type}}/{{post.slug}}</guid>
      </item>
    {% endfor %}
  </channel>
</rss>