<?xml version="1.0" encoding="UTF-8"?>

<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
    <url>
        <loc>https://pythonpips.com/</loc>
        <lastmod>2018-11-01T09:18:28+00:00</lastmod>
        <priority>1.00</priority>
    </url>
    <url>
        <loc>https://pythonpips.com/contact</loc>
        <lastmod>2018-11-01T09:18:28+00:00</lastmod>
        <priority>0.64</priority>
    </url>
    <url>
        <loc>https://pythonpips.com/snippets</loc>
        <lastmod>2018-11-01T09:18:28+00:00</lastmod>
        <priority>0.84</priority>
    </url>
    <url>
        <loc>https://pythonpips.com/blog</loc>
        <lastmod>2018-11-01T09:18:28+00:00</lastmod>
        <priority>0.84</priority>
    </url>
    <url>
        <loc>https://pythonpips.com/about</loc>
        <lastmod>2018-11-04T10:36:21+00:00</lastmod>
        <priority>0.64</priority>
    </url>
    <url>
        <loc>https://pythonpips.com/privacy</loc>
        <lastmod>2018-11-04T10:36:21+00:00</lastmod>
        <priority>0.64</priority>
    </url>
	{% for post in posts %}
	<url>
		<loc>https://pythonpips.com/{{post.post_type}}/{{post.slug}}</loc>
        <lastmod>{{post.updated_at}}</lastmod>
        <priority>0.54</priority>
	</url>
	{% endfor %}
</urlset> 